html {
    font-size: 15px;
}

body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/bg-pattern-top-desktop.svg') no-repeat top left fixed, url('images/bg-pattern-bottom-desktop.svg') no-repeat bottom right fixed;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 2rem;
    box-sizing: border-box;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
}


.intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.title {
    max-width: 500px;
    margin: auto 0;
}

.title p {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    line-height: 1.7;
    padding-right: 5rem;
}

.stars {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3rem;
}

.stars div {
    display: flex;
    width: 24rem;
    max-width: 30rem;
    padding: 1.1rem 1.5rem;
    background-color: hsla(333, 80%, 67%, 0.096);
    border-radius: 7px;
}


.stars div:first-of-type {
    margin-right: auto;
}

.stars div:nth-of-type(2) {
    margin: 0 auto;
}

.stars div:last-of-type {
    margin-left: auto;
}

.stars div span:last-of-type {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.stars div span {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.starImage {
    padding-right: 2rem;
}

.starImage img {
    margin: 0 0.1rem;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    background-color: hsl(300, 43%, 22%);
    border-radius: 7px;
    padding: 2rem;
    transition: 0.4s;
}

.card:hover{
    scale: 1.05;
}

.card:first-of-type {
    margin-bottom: 2rem;
}

.card:nth-of-type(2) {
    margin: 1rem 0 1rem 0;
}

.card:nth-of-type(3) {
    margin-top: 2rem;
}

.person_info {
    display: flex;
    margin-bottom: 2rem;
}

.person_info img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

.person_details {
    padding-top: 0.3rem;
}

.person_details h2 {
    font-size: 15px;
    color: hsl(300, 24%, 96%);
    margin: 0 0 0.5rem 0;
}

.person_details p {
    color: hsl(333, 80%, 67%);
    margin: 0;
}

.profile_review {
    color: hsl(300, 24%, 96%);
    line-height: 1.2;
}

@media(max-width: 900px) {
    .container {
        padding: 4rem 1rem;
        width: 100%;
    }

    .intro {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    h1 {
        text-align: center;
        font-size: 32px;
        word-wrap: break-word;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .title {
        max-width: 90%;
    }

    .title p {
        text-align: center;
        padding: 0;
    }

    .stars {
        width: 100%;
        align-items: center;
        gap: 1rem;
    }

    .stars div {
        width: 100%;
        margin: 0 !important;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        max-width: none;
    }

    .starImage {padding: 0 0 1rem 0;}

    .cards {
        flex-direction: column;
        gap: 1.5rem;
    }

    .card {
        margin: 0 !important;
    }
}